@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono:wght@300&display=swap");

body {
	background: #212121;
	background: rgb(33, 33, 33);
	font-family: "Roboto Mono", monospace;
	overflow-x: hidden;
	cursor: none;
}
body::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: rgb(33, 33, 33); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		180deg,
		rgba(67, 97, 238, 1) 55%,
		rgba(31, 55, 171, 1) 100%
	); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	/* border: 3px solid orange; creates padding around scroll thumb */
}

.containerTitle {
	display: flex;
	padding-top: 2rem;
	padding-left: 2rem;
}

h1 {
	margin-top: 3rem;
	margin-bottom: 5rem;
	font-size: 2.9rem;
	font-family: "Permanent Marker", cursive;
	color: #4361ee;
	z-index: 400;
}
.logo {
	width: 150px;
	height: 150px;
	z-index: 400;
}

/****** FORM ******/
#searchForm {
	position: relative;
	margin-top: -5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5rem;
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
.inputbox {
	position: relative;
	width: 196px;
}

.inputbox input {
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1.1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}

.inputbox span {
	position: absolute;
	left: 0;
	padding: 20px 10px 10px;
	font-size: 1.1em;
	color: #8f8f8f;
	letter-spacing: 00.05em;
	transition: 0.5s;
	pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
	color: #4361ee;
	transform: translateX(-10px) translateY(-34px);
	font-size: 0, 75em;
}

.inputbox i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #4361ee;
	border-radius: 4px;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
	height: 44px;
}

#inputPlayer {
	border-radius: 5px;
}

#btnSearch {
	/* border: 1px solid #4361ee; */
	margin-top: 1rem;
	padding: 0.8rem 1rem;
	border: none;
	border-radius: 5px;
	color: #4361ee;
	font-weight: bold;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	outline: none;
	cursor: pointer;
}

#btnSearch:hover {
	box-shadow: 2px 6px 6px 0px rgba(67, 97, 238, 0.7);
	background: #4361ee;
	color: #212121;
	border: none;
	transform: translateY(-1px);
}

.selectContainer {
	visibility: hidden;
}

#mainContainer {
	display: flex;
	flex-direction: row;
}
#averagePlayer {
	display: flex;
	flex-direction: row;
}

h3 {
	font-size: 1.3em;
	text-align: center;
	z-index: 500;

	/***** SWIPER ******/
}
.swiper {
	margin-left: 0;
	padding-left: 0;
}
.cardPlayer {
	width: 280px;
	height: auto;
	margin-left: 1rem;
	background: #000;
	border-radius: 5px;
	opacity: 0.7;
	border: 1px solid #4361ee;
	color: #fff;
	margin: 2rem;
	transition: ease 0.6s;
	z-index: 2000;
}

.cardPlayer:hover {
	box-shadow: 3px 3px 5px 0px rgba(67, 97, 238, 1);
}
.containerImg {
	display: flex;
	flex-direction: row;
}

.cardImg {
	width: 150px !important;
	height: 200px !important;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	/* border: 2px solid green; */
}

#resultContainer {
	color: #fff;
	text-align: center;
	font-size: 1.3rem;
}
#resultContainerBis {
	font-size: 0.8rem;
	color: #4361ee;
	text-align: center;
}

/******* TABLE *******/
.containerTable {
	position: relative;
	z-index: 200;
}

table {
	width: 95%;
	margin: 0 auto;
	border: 1px solid #4361ee;
	border-radius: 4px;
}

thead {
	text-align: center;
	background: #4361ee;
	border: 1px solid #4361ee;
	font-size: 1.3rem;
	box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 1);
}

td {
	color: #fff;
	text-align: center;
	border: 1px solid #4361ee;
}

/***** CANVAS ******/

.containerCanvas {
	width: 90%;
	position: relative;
	border: 2px solid rgba(0, 0, 0, 0.3);
	background-color: rgb(25, 25, 25);
	border-radius: 5px;
	margin-top: 3rem;
	margin-bottom: 2rem;
	box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 1);
	z-index: 200;
}

.chart {
	margin: 2rem;
}

#myChart,
#myChartRebounds,
#myChartAssists {
	border: 1px solid #4361ee;
	/* margin: 2rem auto; */
	border-radius: 5px;
	background-color: rgb(33, 33, 33);
	box-shadow: 3px 3px 6px 0px rgba(67, 97, 238, 1);
	/* box-shadow: 1px 1px 1px 0px rgba(67, 97, 238, 0.5); */
}
#myChart:hover,
#myChartRebounds:hover,
#myChartAssists:hover {
	/* box-shadow: 1px 1px 1px 0px rgba(67, 97, 238, 0.5);
	box-shadow: 3px 3px 6px 0px rgba(67, 97, 238, 1); */
}

/****** Ball ******/

.ball {
	position: absolute;
	top: -8rem;
	left: 80%;
	width: 120px;
	height: 120px;
	visibility: hidden;
	z-index: 300;
}

.activeBall {
	-webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both;
	visibility: visible;
}
.rollBall {
	animation: rotate-center 1.8s linear forwards,
		move 3.1s linear forwards;
	visibility: visible;
}

/***** CURSOR ******/

.cursor {
	z-index: 200;
	position: absolute;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background: #4361ee;
}

/***** ANIMATION ******/

@keyframes bounce-in-top {
	0% {
		transform: translateY(-500px);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		transform: translateY(0);
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		transform: translateY(-65px);
		animation-timing-function: ease-in;
	}
	72% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	81% {
		transform: translateY(-28px);
		animation-timing-function: ease-in;
	}
	90% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	95% {
		transform: translateY(-8px);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
}

@keyframes rotate-center {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes move {
	0% {
		left: 80%;
	}
	100% {
		left: 120%;
	}
}
